body {
    font-family: arial;    
    background-color: #ECECEC;
}

#image {
    width: 90vw;
    margin: 0 auto;
}

#img-div {        
    display: grid;
    align-items: center;
}

#image {
    width: 90vw;
    max-width: 900px;
    border: 5px solid black;
    border-radius: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#title, #img-caption {
    text-align: center;
}

#timeline, #more-info {
    margin: 0 17% 0 17%;
}

#more-info {
    text-align: center;
}